:root {
    --discord-embed: #2f3136;
    --discord-embed-dark: #202225;
    --background: #36393f;
    --text-gray: rgb(156 163 175);
    --mclinker: #68a03a;
    --mclinker-dark: #324b1b;
    --mclinker-transparent: rgba(104, 160, 58, 0.6);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: fade 0.5s;
    font-family: 'Proxima Nova', Material Design Icons, system-ui;
    color: white;
    background-color: var(--background);
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#logo img {
    max-width: 100px;
}

#logo p {
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}

#page-description {
    font-size: 1.5em;
    text-align: center;
}

#page-link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.link-button {
    user-select: none;
    color: white;
    background-color: var(--mclinker);
    text-decoration: none;
    font-size: 1.5em;
    padding: 7px 15px;
    transition: background-color 0.5s;
    border-radius: 5px;
}

.link-button:hover {
    background-color: var(--mclinker-dark);
}

#social-links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.social-link {
    user-select: none;
}

.social-link img {
    height: 40px;
    transition: height 0.2s;
}

.social-link img:hover {
    height: 45px;
}

.disabled {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

#feature-container {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.feature img {
    width: 400px;
}

.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review {
    background-color: var(--discord-embed);
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 5px 0 var(--mclinker);
    max-width: 800px;
    transition: background-color 0.2s;
}

.review:hover {
    background-color: var(--discord-embed-dark)
}

.review-stars {
    color: orange;
    text-shadow: 0 0 4px;
    font-size: 2em;
    padding: 10px;
}

.review-stars span {
    border-radius: 7px;
    background-color: var(--discord-embed-dark);
    padding: 5px 6px 0;
}

.review-description {
    color: var(--text-gray);
    margin: 0 10px 0 10px;
}

.review-author {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    margin: 10px;
}

.review-author img {
    border-radius: 50px;
    width: 40px;
}


@media only screen and (max-width: 768px) {
    #header-image {
        width: 90%
    }

    .feature {
        display: block;
        grid-template-columns: 1fr 1fr;
        background-color: var(--discord-embed);
        border-radius: 15px;
        padding: 10px;
        margin: 30px;
    }
}
