<div class="navbar bg-base-300">
    <div class="navbar-start">
        <label tabindex="0" class="btn btn-ghost btn-circle">
            <a href="/index.html"><img src="/assets/MCLinkerPfPTransparent.svg" alt="MC-Linker Icon"></a>
        </label>
        <a href="/index.html" class="btn btn-ghost normal-case text-xl max-[640px]:hidden">MC Linker</a>
    </div>
    <div class="navbar-center">
        <a href="/index.html" class="btn btn-ghost normal-case text-xl hidden max-[640px]:flex">MC Linker</a>
    </div>
    <div class="navbar-end gap-5">
        <a href="https://guide.mclinker.com" class="btn btn-ghost normal-case text-xl max-[640px]:hidden">Guide</a>
        <a class="btn btn-disabled btn-ghost normal-case text-xl max-[640px]:hidden">Dashboard</a>
        <a href="https://discord.com/invite/UEWqG4xd2E" class="btn btn-ghost normal-case text-xl max-[640px]:hidden">Support</a>
        <a href="/invite" class="w-[10rem] text-white btn btn-primary normal-case text-xl max-[640px]:hidden">Invite</a>
        <div class="dropdown dropdown-end hidden max-[640px]:block">
            <div tabindex="0" class="btn" onclick="this.parentElement.classList.toggle('dropdown-open');document.activeElement.blur()" style="font-family: Material Design Icons,serif">󰍜</div>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="https://guide.mclinker.com">Guide</a></li>
                <li><a>Dashboard</a></li>
                <li><a href="https://discord.com/invite/UEWqG4xd2E">Support</a></li>
                <div class="flex flex-col w-full"><div class=" divider"></div></div>
                <li><a href="/invite" class="btn btn-primary text-white">Invite</a></li>
            </ul>
        </div>
    </div>
</div>