@tailwind base;
@tailwind components;
@tailwind utilities;

.shown {
    opacity: 1 !important;
    filter: blur(0px) !important;
}

.unshown {
    opacity: 0;
    filter: blur(5px);
    transition: opacity 0.5s, filter 0.5s;
}

.highlighted {
    background-color: rgba(0, 0, 0, 0.444);
    padding: 0.375rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

@media(prefers-reduced-motion) {
    .unshown {
        transition: none;
    }
}