@tailwind base;
@tailwind components;
@tailwind utilities;

.shown {
    opacity: 1 !important;
    filter: blur(0px) !important;
}

.unshown {
    opacity: 0;
    filter: blur(5px);
    transition: opacity 0.5s, filter 0.5s;
}

code,
.highlighted {
    background-color: #00000080;
    @apply p-3;
    @apply rounded-sm;
}

@media(prefers-reduced-motion) {
    .unshown {
        transition: none;
    }
}
